@import url(iconfont.css);
[role='div'] {
  display: block; }

[role='division'] {
  display: block; }

[role='span'] {
  display: inline; }

[role='span'] {
  display: inline; }

[role='img'] {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center; }

.displayBlock {
  display: block; }

.displayFlex, #div-mainContentAera #div-complete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.textAlignLeft {
  text-align: left; }

.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: "";
    display: table; }
  .clearfix:after {
    clear: both; }

img.responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.absoluteCenteringOnThisStackContext, #nav-shoppingSteps > div:first-child > hr {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto; }

.background {
  position: absolute;
  z-index: -2; }

.displayFlex, #div-mainContentAera #div-complete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .displayFlex.havingMultipleEqualWidthColumns, #div-mainContentAera .havingMultipleEqualWidthColumns#div-complete {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    .displayFlex.havingMultipleEqualWidthColumns > .column, #div-mainContentAera .havingMultipleEqualWidthColumns#div-complete > .column {
      -webkit-box-flex: 1;
          -ms-flex: 1 0;
              flex: 1 0; }
  .displayFlex.flowLayout, #div-mainContentAera .flowLayout#div-complete {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .displayFlex.childsCenteringOnThis, #div-mainContentAera .childsCenteringOnThis#div-complete {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .displayFlex.childsCenteringOnThis > *, #div-mainContentAera .childsCenteringOnThis#div-complete > * {
      margin-left: auto;
      margin-right: auto; }
    .displayFlex.childsCenteringOnThis:first-child, #div-mainContentAera .childsCenteringOnThis#div-complete:first-child {
      margin-top: auto; }
    .displayFlex.childsCenteringOnThis:last-child, #div-mainContentAera .childsCenteringOnThis#div-complete:last-child {
      margin-bottom: auto; }
  .displayFlex.descendantCenteringOnThis, #div-mainContentAera #div-complete {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .displayFlex.descendantCenteringOnThis *, #div-mainContentAera #div-complete * {
      margin-left: auto;
      margin-right: auto;
      text-align: center; }
  .displayFlex.having1EqualWidthColumns, #div-mainContentAera .having1EqualWidthColumns#div-complete {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    .displayFlex.having1EqualWidthColumns > .column, #div-mainContentAera .having1EqualWidthColumns#div-complete > .column {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 100%;
              flex: 1 0 100%; }
  .displayFlex.having2EqualWidthColumns, #div-mainContentAera .having2EqualWidthColumns#div-complete {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    .displayFlex.having2EqualWidthColumns > .column, #div-mainContentAera .having2EqualWidthColumns#div-complete > .column {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 50%;
              flex: 1 0 50%; }
  .displayFlex.having3EqualWidthColumns, #div-mainContentAera .having3EqualWidthColumns#div-complete {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    .displayFlex.having3EqualWidthColumns > .column, #div-mainContentAera .having3EqualWidthColumns#div-complete > .column {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 33.33333%;
              flex: 1 0 33.33333%; }
  .displayFlex.having4EqualWidthColumns, #div-mainContentAera .having4EqualWidthColumns#div-complete {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    .displayFlex.having4EqualWidthColumns > .column, #div-mainContentAera .having4EqualWidthColumns#div-complete > .column {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 25%;
              flex: 1 0 25%; }
  .displayFlex.having5EqualWidthColumns, #div-mainContentAera .having5EqualWidthColumns#div-complete {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    .displayFlex.having5EqualWidthColumns > .column, #div-mainContentAera .having5EqualWidthColumns#div-complete > .column {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 20%;
              flex: 1 0 20%; }
  .displayFlex.having6EqualWidthColumns, #div-mainContentAera .having6EqualWidthColumns#div-complete {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    .displayFlex.having6EqualWidthColumns > .column, #div-mainContentAera .having6EqualWidthColumns#div-complete > .column {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 16.66667%;
              flex: 1 0 16.66667%; }
  .displayFlex.having7EqualWidthColumns, #div-mainContentAera .having7EqualWidthColumns#div-complete {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    .displayFlex.having7EqualWidthColumns > .column, #div-mainContentAera .having7EqualWidthColumns#div-complete > .column {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 14.28571%;
              flex: 1 0 14.28571%; }
  .displayFlex.having8EqualWidthColumns, #div-mainContentAera .having8EqualWidthColumns#div-complete {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    .displayFlex.having8EqualWidthColumns > .column, #div-mainContentAera .having8EqualWidthColumns#div-complete > .column {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 12.5%;
              flex: 1 0 12.5%; }
  .displayFlex.having9EqualWidthColumns, #div-mainContentAera .having9EqualWidthColumns#div-complete {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    .displayFlex.having9EqualWidthColumns > .column, #div-mainContentAera .having9EqualWidthColumns#div-complete > .column {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 11.11111%;
              flex: 1 0 11.11111%; }
  .displayFlex.having10EqualWidthColumns, #div-mainContentAera .having10EqualWidthColumns#div-complete {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    .displayFlex.having10EqualWidthColumns > .column, #div-mainContentAera .having10EqualWidthColumns#div-complete > .column {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 10%;
              flex: 1 0 10%; }
  .displayFlex.having11EqualWidthColumns, #div-mainContentAera .having11EqualWidthColumns#div-complete {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    .displayFlex.having11EqualWidthColumns > .column, #div-mainContentAera .having11EqualWidthColumns#div-complete > .column {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 9.09091%;
              flex: 1 0 9.09091%; }
  .displayFlex.having12EqualWidthColumns, #div-mainContentAera .having12EqualWidthColumns#div-complete {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    .displayFlex.having12EqualWidthColumns > .column, #div-mainContentAera .having12EqualWidthColumns#div-complete > .column {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 8.33333%;
              flex: 1 0 8.33333%; }

/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
figcaption,
figure {
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * Add the correct display in IE.
 */
main {
  display: block; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 */
button {
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
   * Remove the inner border and padding in Firefox.
   */
  /**
   * Restore the focus styles unset by the previous rule.
   */ }
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0; }
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText; }

/**
 * Show the overflow in Edge.
 */
input {
  overflow: visible; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
   * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
   */ }
  [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/*
 * Add the correct display in IE 9-.
 */
menu {
  display: block; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  height: 100vh;
  width: inherit;
  margin: 0;
  font-size: 0.22029rem;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: 'HelveticaNeue', sans-serif; }

a {
  font-weight: bold;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: #00baff; }
  a._1 {
    font-weight: normal;
    color: black; }
  a._normal {
    font-weight: normal; }
  a._black {
    color: black; }
  a._white {
    color: white; }

legend {
  width: 0;
  height: 0;
  visibility: hidden; }

h1 {
  color: #5d5d5d; }

h5 {
  margin-bottom: 1em;
  margin-top: 1em; }

h6 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.105em;
  color: #6a6a6a; }

input[type='text'], select, input[type='password'], input[type='number'] {
  height: 0.86957rem;
  border: none;
  border-bottom: 0.02899rem solid #e4e4e4;
  line-height: 0.64rem;
  vertical-align: top;
  text-align: left;
  font-size: 0.34783rem;
  background-color: transparent;
  color: #939393;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none; }

label {
  display: block;
  font-size: 0.24348rem;
  font-weight: bold;
  font-family: 'HelveticaNeue-Medium', sans-serif;
  text-transform: capitalize;
  color: #ff8400; }

button {
  border: none;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none; }
  button.btn-primary {
    width: 5.08986rem;
    height: 0.95652rem;
    border-radius: 0.5em;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    background-image: -webkit-gradient(linear, right top, left bottom, from(#fe6f12), to(#ff7e05));
    background-image: linear-gradient(to left bottom, #fe6f12, #ff7e05);
    -webkit-box-shadow: 0em 1em 2em 0 rgba(255, 210, 174, 0.8);
            box-shadow: 0em 1em 2em 0 rgba(255, 210, 174, 0.8); }
  button.figure-0001 {
    border-radius: 9em; }

hr {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 0.1em;
  max-height: 5px;
  border-radius: 100%;
  background-color: #eee; }

p {
  text-align: justify;
  word-wrap: break-word;
  width: 100%; }

.priceTag-1 {
  font-size: 0.27826rem;
  font-weight: bold;
  color: #fb3d3c; }

.progressBar {
  background-color: #e3e3e3; }
  .progressBar > .-inner {
    height: 100%;
    background-color: orange; }

.panel {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-box-shadow: 0 0.1rem .2rem #ddd;
          box-shadow: 0 0.1rem .2rem #ddd;
  background-color: white; }
  .panel._1, .panel._2 {
    width: 6.85217rem;
    height: 1.65217rem;
    margin-top: 0.14493rem;
    margin-bottom: 0.14493rem; }
    .panel._1 > div, .panel._2 > div {
      margin: auto;
      margin-left: 0.6rem; }
    .panel._1 [role='img'], .panel._2 [role='img'] {
      width: 1.25rem;
      height: 1.25rem;
      background-size: cover;
      margin-right: -0.28986rem;
      margin-left: 0.22029rem; }
    .panel._1 > :nth-of-type(2), .panel._2 > :nth-of-type(2) {
      height: 1.1rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
  .panel._2 > div {
    margin-left: auto; }
  .panel._2 > :nth-of-type(3) {
    height: 1.1rem; }
  .panel._3, .panel._4 {
    position: fixed;
    z-index: 1;
    border-radius: 0.5em; }
    .panel._3#div-searchBar-1, #div-searchBar-1.panel._4 {
      top: 0.34783rem;
      width: 6.50435rem;
      height: 1.24638rem; }
    .panel._3#div-suggestionPanel-1, #div-suggestionPanel-1.panel._4 {
      top: 1.8087rem;
      width: 6.50435rem;
      height: 1.53623rem;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; }
    .panel._3#div-suggestionPanel-2, #div-suggestionPanel-2.panel._4 {
      top: 3.61739rem;
      width: 6.50435rem;
      height: 1.53623rem;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; }
    .panel._3#div-suggestionPanel-3, #div-suggestionPanel-3.panel._4 {
      top: 5.42609rem;
      width: 6.50435rem;
      height: 1.53623rem;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; }
    .panel._3#div-suggestionPanel-4, #div-suggestionPanel-4.panel._4 {
      top: 7.23478rem;
      width: 6.50435rem;
      height: 1.53623rem;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; }
    .panel._3#div-suggestionPanel-5, #div-suggestionPanel-5.panel._4 {
      top: 9.04348rem;
      width: 6.50435rem;
      height: 1.53623rem;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; }
    .panel._3 > *, .panel._4 > * {
      margin: 0.05797rem 0; }
    .panel._3 > *:first-child, .panel._4 > *:first-child {
      font-size: 2em;
      margin: 0.05797rem 0.32754rem;
      color: orange; }
      .panel._3 > *:first-child.thumbnail-1, .panel._4 > *:first-child.thumbnail-1 {
        width: 1.3rem;
        height: 1.3rem;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        -ms-flex-item-align: center;
            align-self: center; }
    .panel._3 > div:nth-of-type(2), .panel._4 > div:nth-of-type(2) {
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      -ms-flex-item-align: start;
          align-self: flex-start; }
    .panel._3 > *:last-child, .panel._4 > *:last-child {
      width: 0.32464rem;
      height: 0.32464rem;
      -ms-flex-item-align: center;
          align-self: center;
      margin-left: 0.37101rem;
      margin-right: 0.37101rem;
      font-size: 2em;
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
      color: orange; }
  .panel._4 > *:first-child {
    margin: 0.05797rem 0.17391rem; }
  .panel._4 h6 {
    margin-top: 0.5em;
    margin-bottom: 0.5em; }

.numericalSetter {
  float: right;
  width: 0.95652rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .numericalSetter .random-8974 {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    display: inline-block;
    width: 0.28986rem;
    height: 0.28986rem;
    background-color: white;
    background-size: 100%;
    background-position: center center; }
    .numericalSetter .random-8974._1 {
      background-image: url("../img/minus.svg"); }
    .numericalSetter .random-8974._2 {
      background-image: url("../img/plus.svg"); }

#nav-shoppingSteps {
  height: 1.30435rem;
  padding: 0.22029rem 0.34783rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white; }
  #nav-shoppingSteps > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    #nav-shoppingSteps > div:first-child {
      position: relative;
      z-index: 1; }
      #nav-shoppingSteps > div:first-child > hr {
        z-index: -1; }
  #nav-shoppingSteps .shoppingStep {
    width: 0.43478rem;
    height: 0.43478rem;
    border-radius: 100%;
    text-align: center;
    line-height: 0.43478rem;
    font-size: 1.25em;
    font-weight: bold;
    background-color: #bbb;
    color: white; }
    #nav-shoppingSteps .shoppingStep._complete {
      background-image: url("../img/check.png");
      background-size: 100%;
      background-position: center center; }
  #nav-shoppingSteps .random-3879 {
    color: #bbb; }

.iconfont.icon-yellowStar {
  font-size: 1em;
  color: #ff8400; }
  .iconfont.icon-yellowStar._unstar {
    color: #d8d8d8; }

.form-group {
  width: 100%;
  height: 1.68116rem; }
  .form-group input {
    width: 100%; }

.placeholder {
  width: auto;
  height: 1.24638rem; }

.icon-ic-heart._liked {
  color: red !important; }

#div-titleBarMyOder {
  height: 0.76522rem;
  width: 100%;
  position: relative; }
  #div-titleBarMyOder > div {
    width: 100%;
    position: fixed;
    text-align: center;
    line-height: 0.76522rem;
    vertical-align: middle;
    font-weight: bold;
    background-color: white; }

.icon-ic-add {
  color: #636363; }

#div-mainContentAera {
  width: 100%;
  height: inherit;
  padding-top: 0.22029rem;
  background-color: #efeff3; }
  #div-mainContentAera #div-complete {
    margin-top: 0.34783rem;
    width: 7.2rem;
    height: 8.93913rem;
    background-color: white; }
    #div-mainContentAera #div-complete img {
      width: 2.4058rem;
      height: 2.4058rem; }

#div-checkOut {
  height: 0.95652rem;
  width: 7.2rem;
  position: fixed;
  bottom: 0;
  line-height: 0.95652rem;
  vertical-align: middle;
  text-align: center;
  font-size: 1.8em;
  font-weight: bold;
  color: white;
  background-color: #ff8400; }

.deleteButton {
  display: block;
  width: 1.65217rem !important;
  height: 1.65217rem;
  background-color: #fb3d3c;
  color: white;
  text-align: center; }
  .deleteButton a {
    color: white; }

.panel {
  left: 0;
  right: 0;
  margin: auto;
  -webkit-box-shadow: 0 0.1rem .2rem #ddd;
          box-shadow: 0 0.1rem .2rem #ddd;
  background-color: inherit; }
  .panel._1, .panel._2 {
    width: 6.85217rem;
    height: 1.65217rem;
    margin-top: 0.14493rem;
    margin-bottom: 0.14493rem; }
    .panel._1 .swiper-slide:first-of-type, .panel._2 .swiper-slide:first-of-type {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: baseline;
          -ms-flex-align: baseline;
              align-items: baseline;
      background-color: white; }
      .panel._1 .swiper-slide:first-of-type > div, .panel._2 .swiper-slide:first-of-type > div {
        margin: auto; }
        .panel._1 .swiper-slide:first-of-type > div:nth-of-type(2), .panel._2 .swiper-slide:first-of-type > div:nth-of-type(2) {
          height: 1.1rem;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-box-pack: justify;
              -ms-flex-pack: justify;
                  justify-content: space-between; }
      .panel._1 .swiper-slide:first-of-type [role='img'], .panel._2 .swiper-slide:first-of-type [role='img'] {
        width: 1.25rem;
        height: 1.25rem;
        background-size: cover;
        margin-right: -0.28986rem;
        margin-left: 0.22029rem; }

/*# sourceMappingURL=Favorites.css.map */