@import '_thisSite.framework.scss';

#div-titleBarMyOder{
    height: (132 / $REMtoPXratio) + rem; width: 100%;
    position: relative;
    &>div{
        width: 100%;
        position: fixed;
        text-align: center; line-height: (132 / $REMtoPXratio) + rem; vertical-align: middle;
        font-weight: bold;
        background-color: white;
    }
}

#div-mainContentAera{
    width: 100%; height: inherit;
    padding-top: (38 / $REMtoPXratio) + rem;
    background-color: #efeff3;
    #form-buyerInfo{
        width: 100vh; height: (2241 / $REMtoPXratio) + rem;
        padding: 0 ((60 / $REMtoPXratio) + rem);
        background-color: white;
        .form-group input{
            width: (1122 / $REMtoPXratio) + rem;
        }
    }
    
}


#div-checkOut{
    height:(165 / $REMtoPXratio) + rem; width: (1242 / $REMtoPXratio) + rem;
    position:fixed; bottom: 0;
    line-height: (165 / $REMtoPXratio) + rem; vertical-align: middle; text-align: center;
    font-size: 1.8em; font-weight:bold;
    color:white; background-color:#ff8400;
}