@import '_thisSite.framework.scss';

#div-titleBarMyOder{
    height: (132 / $REMtoPXratio) + rem; width: 100%;
    position: relative;
    &>div{
        width: 100%;
        position: fixed;
        text-align: center; line-height: (132 / $REMtoPXratio) + rem; vertical-align: middle;
        font-weight: bold;
        background-color: white;
    }
}

#div-mainContentAera{
    width: 100%; height: inherit;
    padding-top: (38 / $REMtoPXratio) + rem;
    background-color: #efeff3;
    #div-payment{
        width: 100%; height: (2241 / $REMtoPXratio) + rem;
        padding: ((75 / $REMtoPXratio) + rem) ((60 / $REMtoPXratio) + rem);
        background-color: white;
        #div-switch{
            width: 100%; height: (165 / $REMtoPXratio) + rem;
            display:flex;
            &>div{
                flex: 1 0;
                display: flex;
                justify-content: space-around; align-items: center;
                background-color: #f4f4f4;
                color: #939393;
                &._selected{
                    background-color:#ffa800;
                    color:white;
                }
            }
        }
        #div-random-1{

            &>div{
                display:flex;
                justify-content: space-between;
                margin: 1em

            }
        }
    }
    
}


#div-checkOut{
    height:(165 / $REMtoPXratio) + rem; width: (1242 / $REMtoPXratio) + rem;
    position:fixed; bottom: 0;
    line-height: (165 / $REMtoPXratio) + rem; vertical-align: middle; text-align: center;
    font-size: 1.8em; font-weight:bold;
    color:white; background-color:#ff8400;
}