@import 'thisSite.framework.scss';

.form-group{
	margin-top: (82 / $REMtoPXratio) + rem;
	margin-bottom: (82 / $REMtoPXratio) + rem;
}
h1{
	margin-top: 1.8rem; margin-bottom: auto;
}
select{
	width: (245 / $REMtoPXratio) + rem;
}
button.btn-primary{
	margin-top: auto;
}
#random-0001{
	margin-top: auto; margin-bottom: auto;
}