@charset "UTF-8";

@mixin cherryButton ($height:130, $width:530) {
  display: block;
  box-sizing: border-box;
  height: px2rem($height);
  width : px2rem($width);
  line-height: px2rem($height * 0.8);
  vertical-align: middle;
  background-image: url('../picture/cherryButton.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
}

@mixin cherryButton-thin ($height:80, $width:550) {
  display: block;
  box-sizing: border-box;
  height: px2rem($height);
  width: px2rem($width);
  line-height: px2rem($height * 0.8);
  vertical-align: middle;
  background-image: url('../picture/cherryButton-thin.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
}

@mixin cherryButton-small ($height:80, $width:250) {
  display: block;
  box-sizing: border-box;
  height: px2rem($height);
  width: px2rem($width);
  line-height: px2rem($height * 0.8);
  vertical-align: middle;
  background-image: url('../picture/cherryButton-small.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
}


@mixin rosaButton-thin ($height:80, $width:550) {
  display: block;
  box-sizing: border-box;
  height: px2rem($height);
  width: px2rem($width);
  line-height: px2rem($height * 0.8);
  vertical-align: middle;
  background-image: url('../picture/rosaButton-thin.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
}

@mixin rosaButton-small ($height:80, $width:250) {
  display: block;
  box-sizing: border-box;
  height: px2rem($height);
  width: px2rem($width);
  line-height: px2rem($height * 0.8);
  vertical-align: middle;
  background-image: url('../picture/rosaButton-small.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
}
